:root {
    --bakgrund: rgb(231, 231, 231);
    --primary: #03656d;
    --secondary: #00c2c9;
    --cta: #ff7b7b;
    --text-color:#03656d;
    --text-dark:rgb(0, 0, 0);
    --text-light:rgb(255, 255, 255);
    --light:rgb(255, 255, 255);
    --dark:rgb(0, 0, 0);
  }

 