*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
   
}
.btn, input[type=submit] {

     color: var(--text-drk);
     border-color:var(--drk);
     position: relative;
     min-width: 222px!important;
     max-width: 330px!important;
     display: inline-block; 
     font-weight: 400; 
     text-align: center; 
     vertical-align: middle; 
     user-select: none; 
     background-color: transparent; 
     border:0;
     padding: 0.375rem 0.75rem; 
     font-size: 1rem; 
     line-height: 1.5; 
     border-radius: 0; 
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 

}
.btn:hover, input[type=submit]:hover {

    color: var(--text-light);
    background-color:var(--text-dark);

}
.action_btn {
    border: 2px solid var(--dark)!important; 
}
.action_btn:hover {
    border: 2px solid var(--dark)!important; 
}


